body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
}

.contact-container {
    max-width: 500px;
    margin: 60px auto;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.contact-form button {
    background: white;
    color: black;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.contact-form button:hover {
    opacity: 0.8;
}
